    <style>
        * {
            font-weight: bold;
            font-size: 30px;
            margin: 2px;
            border-radius: 10px;
            padding: 6px;
        }

        body {
            background-image: url('https://wallpaperset.com/w/full/5/5/b/120008.jpg');
            background-size: cover;
        }

        #heading {

            color: white;
            text-align: center;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }

        a {
            text-decoration: none;
            color: rgb(239, 239, 244);
            text-align: center;
            display: block;
            white-space: nowrap;
            width: 100%;
            height: 100%;
            font-size: 27px;
            text-align: center;

        }

        #grid {
            padding: 4px;
            margin-left: 22%;
            margin-right: 22%;
            border: 2px solid red;
            background-color: white;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

        }

        #football {

            background-color: rgb(243, 89, 12);
            text-align: center;
            display: inline-block;
            width: 48%;
            height: 33%;
            box-sizing: border-box;

        }

        #CRICKET {
            background-color: rgb(14, 223, 76);
            text-align: center;

            width: 48%;
            text-decoration: none;
            box-sizing: border-box;
            float: right;

        }

        #BADMINTON {
            background-color: greenyellow;
            text-align: center;
            display: inline-block;
            width: 48%;
            box-sizing: border-box;
        }

        #KABADDI {
            background-color: greenyellow;
            text-align: center;

            width: 48%;
            box-sizing: border-box;
            float: right;

        }

        #CHESS {
            background-color: rgb(14, 223, 76);

            text-align: center;
            display: inline-block;
            width: 48%;
            box-sizing: border-box;
        }

        #volley {
            background-color: rgb(243, 89, 12);
            text-align: center;

            width: 48%;
            box-sizing: border-box;
            float: right;

        }

        #CRICKET:hover {
            opacity: 100%;
            transition: 0.5s;
            transform: scale(1.2);
            background-color: rgb(255, 255, 255)
        }

        #football:hover {
            opacity: 100%;
            transition: 0.5s;
            transform: scale(1.2);
            background-color: rgb(255, 255, 255)
        }

        #BADMINTON:hover {
            opacity: 100%;
            transition: 0.5s;
            transform: scale(1.2);
            background-color: rgb(255, 255, 255)
        }

        #KABADDI:hover {
            opacity: 100%;
            transition: 0.5s;
            transform: scale(1.2);
            background-color: rgb(255, 255, 255)
        }

        #CHESS:hover {
            opacity: 100%;
            transition: 0.5s;
            background-color: rgb(255, 255, 255);
            transform: scale(1.2);
        }

        #volley:hover {
            opacity: 100%;
            transition: 0.5s;
            transform: scale(1.2);
            background-color: rgb(255, 255, 255)
        }

        a:hover {
            color: rgb(0, 0, 0);
        }
    </style>
