<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sports Coordinator Registration</title>
</head>
<body>
    <h1>Sports Coordinator Registration Page</h1>

    <h6>Already have an account ? 
        <h2><a href="{{url_for('login')}}">Login</a></h2>
    </h6>

    <h1>Register otherwise</h1>
    {% for mesg in get_flashed_messages() %}
    <p style="color: red;font-weight: bold;">{{ mesg }}</p>
    {% endfor %}
    <form method="post" action="">
        {{ form.hidden_tag() }}
        {{ form.name(autocomplete="off") }}
        {{ form.username(autocomplete="off") }}
        {{ form.password(autocomplete="off") }}
        {{ form.sport(autocomplete="off") }}
        {{ form.roll(autocomplete="off") }}
        {{ form.phno(autocomplete="off") }}
        {{ form.submit}}
    </form>


</body>
</html>